@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 17% 12%;
    --foreground: 0 0% 98%;

    --card: 232 27% 25%;
    --card-foreground: 0 0% 98%;

    --popover: 232 27% 25%;
    --popover-foreground: 0 0% 98%;

    --primary: 226 100% 59%;
    --primary-foreground: 0 0% 100%;

    --secondary: 168 100% 39%;
    --secondary-foreground: 0 0% 100%;

    --accent: 168 100% 39%;
    --accent-foreground: 0 0% 98%;

    --muted: 232 18% 29%;
    --muted-foreground: 215 16% 80%;

    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 98%;

    --border: 232 18% 29%;
    --input: 232 18% 29%;
    --ring: 226 100% 59%;

    --radius: 6px;
  }

  .dark {
    --background: 230 17% 12%;
    --foreground: 0 0% 98%;

    --card: 232 27% 25%;
    --card-foreground: 0 0% 98%;

    --popover: 232 27% 25%;
    --popover-foreground: 0 0% 98%;

    --primary: 226 100% 59%;
    --primary-foreground: 0 0% 100%;

    --secondary: 168 100% 39%;
    --secondary-foreground: 0 0% 100%;

    --accent: 168 100% 39%;
    --accent-foreground: 0 0% 98%;

    --muted: 232 18% 29%;
    --muted-foreground: 215 16% 80%;

    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 98%;

    --border: 232 18% 29%;
    --input: 232 18% 29%;
    --ring: 226 100% 59%;
  }
}

@layer base {
  * {
    @apply border-border selection:bg-brand-400/30 selection:text-white;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
  h1, .h1 {
    @apply text-4xl font-bold leading-tight tracking-tight;
    font-size: 2.369rem;
  }
  h2, .h2 {
    @apply text-3xl font-bold leading-tight tracking-tight;
    font-size: 1.777rem;
  }
  h3, .h3 {
    @apply text-2xl font-bold leading-tight;
    font-size: 1.333rem;
  }
  h4, .h4 {
    @apply text-xl font-semibold leading-snug;
  }
  h5, .h5 {
    @apply text-lg font-semibold leading-snug;
  }
  p {
    @apply leading-relaxed;
  }
  code {
    @apply font-mono text-sm px-1.5 py-0.5 rounded-md bg-neutral-700/50;
  }
}

